# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MACHINEND：DAWN.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityPorject\RTStest\MACHINEND：DAWN\.idea\.idea.MACHINEND：DAWN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
